.statics-edit > .title {
	font-size: 24px;
	color: #EEEEEE;
	font-weight: bold;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-bottom: 20px;
}

.statics-edit > .edit-form {
	width: 50%;
	margin: auto;
}

.statics-edit > .edit-form > .form-success {
	display: none;
	font-size: 120px;
	text-align: center;
	color: #8BC34A;
	padding: 80px 0;
}